<!--===================================================== Head =======================================================================================================================================================--------------------------->
<head>
<title>BMRCL LOGIN</title/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
	<script>
	function myFunc()
	{
		alert('Your email verification and registration is sucessfully completed,now you can access your account.');

	}
	</script>

	
</head>
<!--****************************************************** Body ***************************************************************-->
<body onload="myFunc()">
	
       <button>click <a href="/">here</a></button>
    
</body>  
<!--===========================================================================================================================================================================------------------------>