<!--===================================================== Head =======================================================================================================================================================--------------------------->
<head>
<title>BMRCL LOGIN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css" />

</head>
<!--****************************************************** Body ***************************************************************-->
<body>

	<div class="freshdesignweb-top">
          <marquee  style="font-family:Book Antiqua; font-weight: bold; color: #FFFFFF" bgcolor="#000000" >Welcome to the Bangalore Metro Rail Corporation</marquee>
           <div class="clr"></div>
	</div><!--top bar -->

<!--****************************************************** Header ***************************************************************-->
		<div id="header">
			<br><br><h3>Agency Login</h3>
		</div>
<!--************************************************** Image Container ***************************************************************-->
  <div class="imgcontainer">
    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
  </div>
  
<!--****************************************************************************************************************************************-->
 
   <div  class="form" >
		
			<form id="contactform" name="frm"> 
				<div  class="required">
<!--************************************************** Login Button **************************************************************************************-->
		
    	  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input id="username" name="username"  style="text-indent:20px;"  placeholder="Agency Email" type="text"           ng-model="uname" autofocus ng-required="true"/><br><p ng-style="errorStyle">{{errorMessage}}</p>
		  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input id="password" name="password"  style="text-indent:20px;"  placeholder="Password"     type="{{inputType}}"  ng-model="pass"            ng-required="true"/>&nbsp
	
														<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
														<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
														<label for="checkbox" ng-if="!passwordCheckbox">Show password</label><br><br>
		             	
		  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp				<button class="button" name="submit"  id="submit" ng-click="login()" >Log In</button><br><br>
		 
			   </div>
		
			</form>   
					 				
<!--*************************************************** Sign Up Button *************************************************************************************-->
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a  href="/register" ><input class="button" value="   Sign Up    " type="submit"></input></a>
			 
			          
   </div>
   
<!--*************************************************** Processing Icon *************************************************************************************-->
    <img class="loading" ng-show="loading" ng-show="loading" style=" background-color: #69757f;
																	  opacity: 0.8;
																	  position: absolute;
																	  left: 0px;
																	  top: 0px;
																	  z-index: 100;
																	  height: 100%;
																	  width: 100%;
																	  overflow: hidden;
																	  background-image: url('images/game_img1.gif');
																	  background-position: center;
																	  background-repeat: no-repeat;" /> 

<!--**************************************************** Forgot Button ************************************************************************************-->
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<div id="forgotpassword">
		<span class="psw"><b>Forgot <a href="/resetpassword">password?</a></b></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
		<span><b>New user please <a href="/register">sign up first</a></b></span>
		<span><b><a href="/route">Go To Main Page </a></b></span>
    </div>
<!--****************************************************************************************************************************************-->	
</body>  
<!--===========================================================================================================================================================================------------------------>