	<!--======= Head =======================================================================================================================================================--------------------------->
<head>
<title>Reset Password</title/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7; IE=EmulateIE9">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
</head>
<!--***************************************** Body ****************************************************************-->
<body>
  
     <div class="freshdesignweb-top">
          <marquee  style="font-family:Book Antiqua; font-weight: bold; color: #FFFFFF" bgcolor="#000000" scrollamount="7">Welcome to the Bangalore Metro Rail Corporation</marquee>
           <div class="clr"></div>
	</div><!--*** top bar ***-->
	 <div class="freshdesignweb-top">
                <a href="http://www.cdac.in" target="_blank">Home</a>
                <span class="right">
                    <a href="/">
                        <strong>Back to the Login Page</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--top bar -->
<div id="header">
<br><br><h3>Reset Password</h3><br>
</div>

  <div  class="form" >
		
		<form id="contactform" name="frm" ng-submit="changepassword()"> 
			<div  class="required">
<!--***************************************** Login Button ****************************************************************-->
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input id="email"         name="email"         style="text-indent:20px;" placeholder="Enter agency email"    type="email"     ng-model="email"  autofocus ng-required="true"/><br>																	
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input id="newpassword"   name="newpassword"   style="text-indent:20px;" placeholder="Enter new password"    type="{{inputType}}" ng-model="newpassword"        ng-required="true"/>
				<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
														<label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
														<label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
								<span style="color:red" ng-show="newpassword != confirmpassword"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Password does not match</span>	
								<p ng-style="errorStyle">{{errorMessage}}</p>								
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input id="confirmpassword" name="confirmpassword" style="text-indent:20px;" placeholder="Confirm your password" type="password" ng-model="confirmpassword"    ng-required="true"/><br><br>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				<button class="register" id="changepassword" type="submit">Save</button><br><br>
			</div>
			
			
		</form>   
					 			      
   </div>
<!--*************************************************** Processing Icon *************************************************************************************-->
    <img class="loading" ng-show="loading" ng-show="loading" style=" background-color: #69757f;
																	  opacity: 0.8;
																	  position: absolute;
																	  left: 0px;
																	  top: 0px;
																	  z-index: 100;
																	  height: 100%;
																	  width: 100%;
																	  overflow: hidden;
																	  background-image: url('images/game_img1.gif');
																	  background-position: center;
																	  background-repeat: no-repeat;" /> 
<!--******************************************************************* Forgot Button *********************************************************************-->   

	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
	<div id="forgotpassword">
		
		<span><b>New user please <a href="/register">sign up first</a></b></span>

    </div>
<!--**********************************************************************************************************************************************************-->	
</body>
<!--===========================================================================================================================================================================------------------------>